In [101]:
import pandas as pd

In [136]:
# Load data
domestic_accidents = pd.read_csv('domestic_accidents.csv')

# Display information and preview
# print(domestic_accidents.info())
# print(domestic_accidents.head())
# print(domestic_accidents.describe())

# Drop unnecessary columns
domestic_accidents = domestic_accidents.drop(columns=['Detail link', 'References'])

# problematic_dates = domestic_accidents[domestic_accidents['Date'].isnull()]
# print(problematic_dates)

# Strip extra spaces
domestic_accidents['Date'] = domestic_accidents['Date'].str.strip()
# Replace non-date entries with NaN or a placeholder
domestic_accidents['Date'] = domestic_accidents['Date'].replace(['invalid', 'unknown'], pd.NA)
domestic_accidents['Date'] = pd.to_datetime(domestic_accidents['Date'], errors='coerce')

# 2. Ensure "Fatality" is numeric (it likely already is, but this confirms)
domestic_accidents['Fatality'] = pd.to_numeric(domestic_accidents['Fatality'])
# 3. Clean "Place" column (example: convert to lowercase, remove extra spaces)
domestic_accidents['Place'] = domestic_accidents['Place'].str.lower().str.strip() 
# Remove punctuation and special characters
domestic_accidents['Place'] = domestic_accidents['Place'].str.replace(r'[^\w\s]', '', regex=True) 
# # Convert the 'Type of Aircraft' column to string
domestic_accidents['Type of Aircraft'] = domestic_accidents['Type of Aircraft'].astype(str)
# # Convert the 'Operator' column to string
domestic_accidents['Operator'] = domestic_accidents['Operator'].astype(str)
# adding type
domestic_accidents['Type'] = 'domestic'


# Check for missing values
# print(domestic_accidents.isnull().sum())

# # Inspect the DataFrame after conversion
print(domestic_accidents.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              60 non-null     datetime64[ns]
 1   Type of Aircraft  60 non-null     object
 2   Operator          60 non-null     object
 3   Place             60 non-null     object
 4   Fatality          60 non-null     int64
 5   Type              60 non-null     object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 2.9+ KB
None

In [138]:
foreign_accidents = pd.read_csv('foreign_accidents.csv')

# Drop unnecessary columns
foreign_accidents = foreign_accidents.drop(columns=['Detail link', 'References'])

# problematic_dates = foreign_accidents[foreign_accidents['Date'].isnull()]
# print(problematic_dates)

# Strip extra spaces
foreign_accidents['Date'] = foreign_accidents['Date'].str.strip()
# Replace non-date entries with NaN or a placeholder
foreign_accidents['Date'] = foreign_accidents['Date'].replace(['invalid', 'unknown'], pd.NA)
foreign_accidents['Date'] = pd.to_datetime(foreign_accidents['Date'], errors='coerce')

# 2. Ensure "Fatality" is numeric (it likely already is, but this confirms)
foreign_accidents['Fatality'] = pd.to_numeric(foreign_accidents['Fatality'])
# 3. Clean "Place" column (example: convert to lowercase, remove extra spaces)
foreign_accidents['Place'] = foreign_accidents['Place'].str.lower().str.strip() 
# Remove punctuation and special characters
foreign_accidents['Place'] = foreign_accidents['Place'].str.replace(r'[^\w\s]', '', regex=True) 
# # Convert the 'Type of Aircraft' column to string
foreign_accidents['Type of Aircraft'] = foreign_accidents['Type of Aircraft'].astype(str)
# # Convert the 'Operator' column to string
foreign_accidents['Operator'] = foreign_accidents['Operator'].astype(str)
# adding type
foreign_accidents['Type'] = 'foreign'

# Check for missing values
# print(foreign_accidents.isnull().sum())

# # Inspect the DataFrame after conversion
print(foreign_accidents.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              7 non-null      datetime64[ns]
 1   Type of Aircraft  7 non-null      object
 2   Operator          7 non-null      object
 3   Place             7 non-null      object
 4   Fatality          7 non-null      int64
 5   Type              7 non-null      object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 464.0+ bytes
None

In [139]:
helicopter_accidents = pd.read_csv('helicopter_accidents.csv')


# Drop unnecessary columns
helicopter_accidents = helicopter_accidents.drop(columns=['Detail link', 'References'])

# problematic_dates = helicopter_accidents[helicopter_accidents['Date'].isnull()]
# print(problematic_dates)

# Strip extra spaces
helicopter_accidents['Date'] = helicopter_accidents['Date'].str.strip()
# Replace non-date entries with NaN or a placeholder
helicopter_accidents['Date'] = helicopter_accidents['Date'].replace(['invalid', 'unknown'], pd.NA)
helicopter_accidents['Date'] = pd.to_datetime(helicopter_accidents['Date'], errors='coerce')

# 2. Ensure "Fatality" is numeric (it likely already is, but this confirms)
helicopter_accidents['Fatality'] = pd.to_numeric(helicopter_accidents['Fatality'])
# 3. Clean "Place" column (example: convert to lowercase, remove extra spaces)
helicopter_accidents['Place'] = helicopter_accidents['Place'].str.lower().str.strip() 
# Remove punctuation and special characters
helicopter_accidents['Place'] = helicopter_accidents['Place'].str.replace(r'[^\w\s]', '', regex=True) 
# # Convert the 'Type of Aircraft' column to string
helicopter_accidents['Type of Aircraft'] = helicopter_accidents['Type of Aircraft'].astype(str)
# # Convert the 'Operator' column to string
helicopter_accidents['Operator'] = helicopter_accidents['Operator'].astype(str)
# adding type
helicopter_accidents['Type'] = 'heli'


# Check for missing values
# print(helicopter_accidents.isnull().sum())

# # Inspect the DataFrame after conversion
print(helicopter_accidents.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              35 non-null     datetime64[ns]
 1   Type of Aircraft  35 non-null     object
 2   Operator          35 non-null     object
 3   Place             35 non-null     object
 4   Fatality          34 non-null     float64
 5   Type              35 non-null     object
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 1.8+ KB
None

In [140]:
# combine all datasets into one
all_accidents = pd.concat([domestic_accidents, foreign_accidents, helicopter_accidents], ignore_index=True)

# Verify the combined dataset
print(all_accidents.info())

print(all_accidents.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              102 non-null    datetime64[ns]
 1   Type of Aircraft  102 non-null    object
 2   Operator          102 non-null    object
 3   Place             102 non-null    object
 4   Fatality          101 non-null    float64
 5   Type              102 non-null    object
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 4.9+ KB
None
        Date              Type of Aircraft                      Operator  \
0 1946-05-07  Douglas C-47 Skytrain (DC-3)               Royal Air Force
1 1955-08-30  Douglas C-47 Skytrain (DC-3)              Kalinga Airlines
2 1960-05-05     Pilatus PC-6 Turbo Porter  Swiss Dhaulagiri Expendition
3 1960-11-05                  Douglas DC-3          Royal Nepal Airlines
4 1961-03-22                  Douglas DC-3                           PIA

             Place  Fatality      Type
0  simara narayani       0.0  domestic
1  simara narayani       2.0  domestic
2            nepal       0.0  domestic
3            nepal       4.0  domestic
4      nepal nepal       0.0  domestic

In [142]:
# # Save combined dataset for future use
# ignore_index=True argument ensures the new DataFrame has a continuous index
all_accidents.to_csv('all_accidents.csv', index=False)

In [146]:
grouped = all_accidents.groupby('Type')
print(grouped.size())
# print(grouped.head())

Type
domestic    60
foreign      7
heli        35
dtype: int64